
<!-- Rotating photos of featured work -->

<div class="scroller">
  <div><%= image_tag('Pelican.jpg', size: '200x300') %></div>
  <div><%= image_tag('Big Boy B.jpg', size: '200x300' ) %></div>
</div>

<%= button_to "Roberto's Gallery", roberto_gallery_path, method: :get %>
<%=  button_to "Ana's Gallery", ana_gallery_path, method: :get %>


