
<div class="row">
  <% @roberto_bronze.each do |bronze| %>
    <div class="col-xs-6 col-md-3">
      <%= image_tag(bronze.image, size: '200x200', class: "thumbnail") %>
    </div>
  <% end %>
</div>

