<h2>Baby G.'s Bronze Sculpture Work</h2>

<div class="row">
  <% @ana_bronze.each do |bronze| %>
    <div class="col-xs-6 col-md-3">
      <%= image_tag(bronze.image, size: '200x250', class: "thumbnail") %>
    </div>
  <% end %>
</div>
